@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.des{
    background-color: #1CD1B0;
    font-size: 15px;
    padding: 10px;
}

.He{
    background-color: #00669F;
    font-size: 40px;
    font-weight: 500;
    padding: 10px;
    
}

.principal{
    display:flex
}

.heart{
    position:absolute;
    margin: 10px;
}

.parrafo{
    text-align: justify;
}
.fondo-batman{
    background-image:url(../img/FondoBatman.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 300px;
    height: 529px;
    position: relative;
    margin: 120px 80px;
}

.fondo-harley{
    background-image: url(../img/FondoHarleyQuinn.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 300px;
    height: 529px;
    position: relative;
    margin: 120px 80px;
}

.batman{
    background-image: url(../img/Batman.png);
    background-position:center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    margin:110px 85px 20px; 
}
.harley{
    background-image: url(../img/HarleyQuinn.png);
    background-position:center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    margin:110px 85px 20px;
}

.name{
    text-align: center;
}

.boton{
    background-position: center;
    background-color: #00669F;
    color: white;  
    position:absolute;
    padding: 10px;
    margin: 20px 100px
    
}

footer{
    background-color: #00669F;
    color: white;
    font-size: 16px;
    padding: 10px;
}