@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


main section p{
    color:#3c2313
}

.sales-offer{
    background-color: black;
    color: white;   
    display: flex;
    justify-content: space-between;
    padding: 5px 90px 5px 40px;
}

.sales-offer div span{
    margin: 10px;
}

.header-links{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 40px 22px 58px;
}

header div.header-links nav ul li{
    list-style: none;
}

header div.header-links nav ul li a{
    margin: 5px;
    text-decoration: none;
    color: white;
}

header div.header-links nav ul{
    display: flex;
}

.LN{
    background-size:cover;
    width: 250px;
    height: 30px;
}

.right{
    position:absolute;
    right: 10px;   
}


.welcome-message{
    font-weight: 400;
    font-size: 30px;
}

.main-color-font{
    color: #3c2313
}

.title-inside-banner{  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome{
    background-color: white;
    padding: 10px;
   
}

.sale-item-offer{
    padding-top: 24px;
}

.sale-item{
    width: 141px;
    height: 49px;
    border-radius: 5px;
    background-color: #F0A83E;
    color: white;
    padding: 15px;
    margin: 20px;
}
.banner-section{
    background-image: url(../img/PlatoComida.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
}

.pata{
    position: relative;
    left: 47%; 
    margin: 20px;
}
.featured-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.featured-categories{
    text-align: center;
    color:#666666
}

.products-section{
    
    display: flex;
    justify-content: space-around;
}

.product-name{
    padding: 0;
    text-align: center;
    background-color: #fbfaf6;
    font-weight: 500;
}

.price{
    text-align: center;
    background-color: #fbfaf6;
    color: #f0a83e;
}

.mainf{
    margin: 5%;
}

.contact-up{
    margin: 3px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.contact{
    border-radius: 20px;
    padding: 15px ;
    background-color: #3C2313;
    color:white;
    margin: 5px;
    width: 340px;
    height: 40px;
    font-size: 9px;
}

.buttonrs{
    text-align: center; 
}
.reset{
    border-radius: 20px;
    background-color: #8A8787;
    color:white;
    width: 110px;
    height: 34px;
    margin: 5px;
    font-size: 16px;
}

.send{
    border-radius: 20px;
    background-color: #F0A83E;
    color:white;
    width: 110px;
    height: 34px;
    margin: 5px;
    font-size: 16px;
}

.contact-info-title{
    font-size: 20px;
    font-weight: 700;
}

.contact-info-description{
    color: #8a8787;
    font-size: 20px;
    font-weight: 700;
}

.copyrights-container{
    align-items: center;
    background-color: #222222;
    display: flex;
    justify-content: center;
}

.copyrights-content{
    margin-left: 5px;
    margin-right: 5px;
}

footer{
    background-color: #3c2313;
    color:white
    
}